{% extends 'Main/Master.html' %}
{% load static %}


{% block head %}

{% endblock head %}


{% block content %}
<div class="page-content">
	<div class="holder breadcrumbs-wrap mt-0">
		<div class="container">
			<ul class="breadcrumbs">
				<li><a href="/">خانه</a></li>
				<li><span>پرداخت</span></li>
			</ul>
		</div>
	</div>
	<div class="holder">
		<div class="container">
			<h1 class="text-center">اطلاعات پرداخت</h1>
			<div class="row">
				<div class="col-md-10">
					<form action="" id="CartForm" method="post">
						<input type="hidden" name="RC" value="{{Cart.RC}}">
						{% csrf_token %}
						<div class="steps-progress">
							<ul class="nav nav-tabs">
								<li class="nav-item">
									<a class="nav-link active" data-toggle="tab" href="#step1"
										data-step="1"><span>01.</span><span>آدرس
											ارسال سفارش</span></a>
								</li>

								<li class="nav-item">
									<a class="nav-link" data-toggle="tab" href="#step2"
										data-step="2"><span>02.</span><span>شیوه
											پرداخت</span></a>
								</li>
							</ul>
							<div class="progress">
								<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="1"
									aria-valuemin="1" aria-valuemax="2" style="width: 50%;"></div>
							</div>
						</div>
						<div class="tab-content">
							<div class="tab-pane fade show active" id="step1">
								<div class="tab-pane-inside">
									<div class="row mt-2">
										<div class="col-sm-9">
											<label>نام و نام خانوادگی: </label>
											<div class="form-group">
												<input type="text" class="form-control form-control--sm" required
													name="Name">
											</div>
										</div>
										<div class="col-sm-9">
											<label>شماره همراه : </label>
											<div class="form-group">
												<input type="text" class="form-control form-control--sm" required
													name="Phone">
											</div>
										</div>
									</div>
									<div class="mt-2"></div>
									<div class="row">
										<div class="col-sm-9">
											<label>استان : </label>
											<div class="form-group select-wrapper">
												<select class="form-control form-control--sm" id="State" required
													name="State">

													{% for item in City %}
													<option value="{{item.id}}">{{item.title}}</option>
													{% endfor %}

												</select>
											</div>
										</div>
										<div class="col-sm-9">
											<label>شهر : </label>
											<div class="form-group select-wrapper">
												<select class="form-control form-control--sm" id="City" required
													name="City">
												</select>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-9">
											<div class="form-group">
												<label for="">پلاک :</label>
												<input type="text" required name="No" class="form-control">
											</div>
										</div>
										<div class="col-sm-9">
											<div class="form-group">
												<label for="">واحد :</label>
												<input type="text" name="Unit" class="form-control">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-9">
											<label>کد پستی : </label>
											<div class="form-group">
												<input type="text" class="form-control form-control--sm" required
													name="PostalCode">
											</div>
										</div>
										<div class="col-sm-9">
											<label>آدرس پستی : </label>
											<div class="form-group">
												<textarea type="text" class="form-control form-control--sm" rows="4"
													required name="PostalAddress"></textarea>
											</div>
										</div>
									</div>
									<div class="clearfix">
										<input id="SaveAddress" name="SaveAddress" type="checkbox">
										<label for="SaveAddress">ذخیره آدرس در
											حساب کاربری من</label>
									</div>

									<div class="text-right">
										<button type="button" class="btn btn-sm step-next">ادامه</button>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="step2">
								<div class="tab-pane-inside">
									<div class="text-right">
										<button type="button" class="btn btn--sm btn--grey step-previous">
											<i class="icon-arrow-right-bold" aria-hidden="true"></i>
										</button>
									</div>
									<div class="mt-4"></div>
									<div class="clearfix">
										<input id="formcheckoutRadio5" value="zarinpal" name="PaymentWay" type="radio"
											class="radio" checked>
										<label for="formcheckoutRadio5">زرین پال</label>
									</div>
									<div class="mt-2"></div>
									<div class="clearfix">
										<h4>ارسال بین ۲ تا ۵ روز کاری انجام خواهد شد </h4>
										<span>سفارش های شما بین ۷ تا ۱۰ روز کاری به دست شما خواهد رسید</span>
									</div>
									<div class="mt-2"></div>
									<div class="clearfix">
										<input id="Conditions" name="Conditions" type="checkbox" required>
										<label for="Conditions">
											<a href="#" target="_blank" class="text-info">
												قوانین و مقررات
											</a>
											ارسال و ارجاع را میپذیرم.
										</label>
									</div>
								</div>

								<div class="clearfix mt-1 mt-md-2">
									<button type="button" id="submitForm" class="btn btn--lg w-100">پرداخت
										سفارش</button>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-8 pl-lg-8 mt-2 mt-md-0">
					<h2 class="custom-color">خلاصه سفارش</h2>
					<div class="cart-table cart-table--sm pt-3 pt-md-0">
						<div class="cart-table-prd cart-table-prd--head py-1 d-none d-md-flex">
							<div class="cart-table-prd-image text-center">
								تصویر
							</div>
							<div class="cart-table-prd-content-wrap">
								<div class="cart-table-prd-info">نام</div>
								<div class="cart-table-prd-qty">تعداد</div>
								<div class="cart-table-prd-price">قیمت</div>
							</div>
						</div>
						{% for CP in Pros %}
						<div class="cart-table-prd">
							<div class="cart-table-prd-image">
								<a href="{% url 'ProductPage' CP.RPVS %}" class="prd-img"><img class="lazyload fade-up"
										src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
										data-src="{{ MEDIA_URL }}{{CP.Pic}}" alt=""></a>
							</div>
							<div class="cart-table-prd-content-wrap">
								<div class="cart-table-prd-info">
									<h2 class="cart-table-prd-name"><a
											href="{% url 'ProductPage' CP.RPVS %}">{{CP.Name}}</a>
									</h2>
								</div>

								<div class="cart-table-prd-price-total">
									<span class="pr CP-Amount">{{CP.Amount}}</span> ریال
								</div>
							</div>
						</div>
						{% endfor %}


					</div>
					<div class="mt-2"></div>
					<div class="card">
						<div class="card-body">
							<h3>کد تخفیف</h3>
							<div class="form-inline mt-2">
								<input type="text" class="form-control form-control--sm" id="Coupon"
									placeholder="کد تخفیف شما">
								<button type="button" class="btn Coupon-Butt" data-RC="{{Cart.RC}}">تایید</button>
								<button type="button" class="btn Unattach-Butt d-none"
									data-RC="{{Cart.RC}}">حذف</button>
							</div>
						</div>
					</div>
					<div class="mt-2"></div>
					<div class="cart-total-sm">
						<span>جمع سفارشات</span>
						<span class=""><span class="pr Cart-Amount">{{Cart.Amount}}</span> ریال</span>
					</div>
					<div class="cart-total-sm">
						<span>سود شما از خرید</span>
						<span class=""><span class="pr Cart-TotalDiscount">{{Cart.TotalDiscount}}</span> ریال</span>
					</div>
					<div class="cart-total-sm">
						<span>هزینه ارسال</span>
						<span class=""><span class="pr Cart-ShippingPrice">{{Cart.ShippingPrice}}</span> ریال</span>
					</div>
					<div class="cart-total-sm">
						<span>جمع کل</span>
						<span class="card-total-price Cart-TotalPrice"><span class="pr">{{Cart.TotalPrice}}</span>
							ریال</span>
					</div>
					<div class="mt-2"></div>
					<div class="card">
						<div class="card-body">
							<h3>دیدگاه سفارش</h3>
							<textarea class="form-control form-control--sm textarea--height-100"
								placeholder="متن دیدگاه شما در اینجا"></textarea>
							<div class="card-text-info mt-2">
								<p>* پس انداز شامل تبلیغات ، کوپن و ارسال (در صورت وجود)
									است.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}


{% block js %}
<script src="{% static 'custom/Cart.js' %}"></script>
{% endblock js %}