@media (max-width: 767px) {

    .product-previews-carousel .slick-slide,
    .product-previews-carousel .slick-slide:hover {
        float: left;
    }
}

/*  
 * Rating styles
 */
.rating {
    width: 226px;
    margin: 0 auto 1em;
    font-size: 45px;
    overflow: hidden;
}

.rating input {
    float: right;
    opacity: 0;
    position: absolute;
}

.rating a,
.rating label {
    float: right;
    color: #aaa;
    text-decoration: none;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
}

.rating label:hover~label,
.rating input:focus~label,
.rating label:hover,
.rating a:hover,
.rating a:hover~a,
.rating a:focus,
.rating a:focus~a {
    color: orange;
    cursor: pointer;
}

.STRwrapper,
.Weakwrapper {
    width: 75%;
    display: inline-block;
    vertical-align: top;

}

.STRwrapper .form-group,
.Weakwrapper .form-group {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.STRwrapper .form-group input,
.Weakwrapper .form-group input {
    width: 90%;
}