@media (max-width: 767px) {

    .product-previews-carousel .slick-slide,
    .product-previews-carousel .slick-slide:hover {
        float: left;
    }
}

/*  
 * Rating styles
 */
.rating {
    width: 226px;
    margin: 0 auto 1em;
    font-size: 45px;
    overflow: hidden;
}

.rating input {
    float: right;
    opacity: 0;
    position: absolute;
}

.rating a,
.rating label {
    float: right;
    color: #aaa;
    text-decoration: none;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
}

.rating label:hover~label,
.rating input:focus~label,
.rating label:hover,
.rating a:hover,
.rating a:hover~a,
.rating a:focus,
.rating a:focus~a {
    color: orange;
    cursor: pointer;
}

.STRwrapper,
.Weakwrapper {
    width: 75%;
    display: inline-block;
    vertical-align: top;

}

.STRwrapper .form-group,
.Weakwrapper .form-group {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.STRwrapper .form-group input,
.Weakwrapper .form-group input {
    width: 90%;
}

.SearchEngine .ResultWrapper .result-item {
    border-bottom: 1px solid #a813ed73;
    padding: 5px 10px;
}

.SearchEngine .ResultWrapper .Prd_result .result-item {
    border: 1px solid #c2bebe;
    border-radius: 5px;
    margin: 2px 5px;
}

.SearchEngine .ResultWrapper .result-item:hover {
    border-color: #a813ed;
    border-width: 2px;
}

.cart-failed {
    background-color: #ff000029 !important;
    padding-top: 15px !important;
    border: 1px solid #8d0505 !important;
    border-radius: 2px !important;
}

.Loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff9f;
    z-index: 1050;
}